
.main{
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 0.5px solid rgba(131, 126, 126, 0.315) ;
	box-shadow: 10px 5px 5px rgba(131, 126, 126, 0.315);
}
.top_nav {
	justify-content: right;
	flex-direction: column;
	background: rgba(131, 126, 126, 0.315);
}
.menu {
    display: flex;
	justify-content: space-around ;
    flex-direction:row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    font-size: large;
}
.menu li a{
    text-decoration: none;
	cursor: pointer;
	color: black;
	font-size: 1.5rem;
	position:relative;
}



.menu li a::after {
	position: absolute;
	content: "";
	top: 0%;
	right: 0;
	width: 100%;
	height: 30px;
	background: rgba(253, 253, 253, 0.467);
	transform: scaleX(0);
	transition: transform 0.3s;
}
.menu li a:hover::after {
    background: rgba(253, 253, 253, 0.467);
    left: 1;
	transform: scaleX(1);
	transform-origin: center;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.person_img {
	display: block;
	border-radius: 50%;
	height: 16rem;	
}

.profile_info{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
}
.content{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.content ul li{
	margin-top: 10px;
}
.skills ul{
	list-style-type:circle;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info{
	list-style-type: none;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contacts_item a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.contacts_item a:hover{
	background: rgba(131, 126, 126, 0.315);
}
.contacts_item img {
	width: 22px;
}
.line{
	margin-left: 1%;
	margin-right: 1%;
	height:1px;
	background: 131, 126, 126, 0.315;
}
.information{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.information a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.information_titles{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	
}
.information_text{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}

.footer ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}
